/**
* Site styles
* @author Nathan Hallford
*/
form#contact_form_dealerinspire {
	
}
	form#contact_form_dealerinspire input {
		
	}
	form#contact_form_dealerinspire textarea {
		
	}
	form#contact_form_dealerinspire .error {
		color: red;
		font-weight: bold;
	}